.criar-projeto-modal-content,
.editar-projeto-modal-content,
.editar-membros-projeto-modal-content{
    min-width: 25rem;
}

body {
    font-family: "Sora-Regular_Light", serif;
    background: #6082b9;
}

.board-column {
    box-sizing: initial;
    min-width: 18rem;
    min-height: 80vh;
    padding: 20px;
    background: white;
    border-radius: var(--bs-border-radius);
}

.board-column .board-column-title {
    width: 100%;
    text-align: center;
}

.op-card {
    background: #e8edff;
    transition: box-shadow 0.2s;
    box-shadow: var(--bs-box-shadow);
}

.op-card:hover {
    box-shadow: var(--bs-box-shadow-lg);
}